body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e; 
    color: #eee; 
    margin: 0;
    padding: 0;
}

#welcome-container,
#quiz-container {
    background-color: #333; 
    text-align: center;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #1a1a1a, 
                -5px -5px 15px #282828;
}

h1 {
    color: #eee; 
}

p {
    color: #ccc;
}

button,
#submit-btn {
    background-color: #555; 
    color: #eee; 
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover,
#submit-btn:hover {
    background-color: #777; 
}

#quiz-container {
    display: none;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.option {
    margin: 5px;
}

#score {
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    color: #eee; 
}

#mail-icon {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    color: #eee; 
}

.square {
    font-size: 25px;
    text-align: start;
    text-decoration: underline;
    border-radius: 20px;
    margin-top: 200px;
    color: #eee; 
    background-color: #333; 
    padding: 10px; 
    box-shadow: 5px 5px 15px #1a1a1a, 
                -5px -5px 15px #282828; 
}

.rectangle {
    text-decoration: underline;
    text-align: end;
    color: #eee; 
}


.buy-me-coffee {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 24px;
  color: #F9A825;
  text-decoration: none;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: #C17900;
  display: flex;
  justify-content: center;
  align-items: center
}

i{
  font-size: 40px;
  color: #2b8c1b 
;
}


@media screen and (max-width: 768px) {
    #welcome-container,
    #quiz-container {
        margin: 10px;
        padding: 10px;
    }

    button,
    #submit-btn {
        padding: 8px 16px;
        margin: 8px;
    }

    #submit-btn {
        padding: 8px 16px;
    }

    #score {
        font-size: 18px;
        margin-top: 10px;
    }

    .square {
        font-size: 13px;
    }

    .rectangle {
        font-size: 20px;
    }

    i {
        font-size: 35px;
    }
}
